.App {
  text-align: center;
  color: white;
  size: 190px;
  display: flex;
  flex-direction: row;
  grid-template-columns:100px 3fr 100px; 

}
.left-container{
  width: 60%;
  display: flex;
  flex-direction:column ;
  justify-content: flex-end;
}
.right-container{
  width: 50%;
  display: flex;
  flex-direction:column ;
}
.days{
  display: flex;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

